<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Squickl_DefaultConnection" value="mssqlce" />
  </appSettings>
  <connectionStrings>
    <add name="mssql" connectionString="Server=?;Database=?;Trusted_Connection=False;User ID=?;Password=?" />
    <add name="mssqlce" providerName="System.Data.SqlServerCe" connectionString="Data Source=%temp%\squickl.sdf;Password=squickl" />
    <add name="mysql" providerName="MySql.Data.MySQLClient" connectionString="server=?;user=?;database=?;port=?;password=?;" />
  </connectionStrings>
</configuration>
