<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="Squickl_DefaultConnection" value="mssqlce" />
    <!--<add key="Squickl_RaiseExceptions" value="false" />-->
  </appSettings>
  <connectionStrings>
    <add name="mssql" connectionString="Server=?;Database=?;Trusted_Connection=False;User ID=?;Password=?" providerName="System.Data.SqlClient" />
    <add name="mysql" connectionString="server=?;user=?;database=?;port=?;password=?;" providerName="MySql.Data.MySQLClient" />
    <add name="mssqlce" connectionString="Data Source=|DataDirectory|\test.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
</configuration>
